<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto+Slab:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body id="white-background">
    <header class="header">
      <div class="logo">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Website Logo" class="logo">
        <span class = "website-name">king county bird forecast</span>
      </div>
      <nav class="menu">
        <ul>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('submit') }}">Submit</a></li>
          <li><a href="{{ url_for('calendar') }}">Calendar</a></li>
          <li><a href="{{ url_for('forecast') }}">Forecast</a></li>
          <li class="dropdown">
            <a href="#">Birdwatching</a>
            <ul class="dropdown-content">
          <li><a href="{{ url_for('birds') }}">Birds</a></li>
          <li><a href="/hotspots.html">Hotspots</a></li>
            </ul>
          </li>
      </ul>
      </nav>
    </header>
  <div class="banner">
    <h1>What birds will you to see today?</h1>
    <a href="forecast.html">
      <button type="button">Forecast Your Trip</button>
  </a>
  
  </div>
  <div class="features">
        
    <!-- Find More Birds Card -->
    <div class="card">
        <img src="{{ url_for('static', filename='images/forecast-icon.png') }}" alt="Forecast Your Trip Icon">
        <h3>Forecast Your Trip</h3>
        <p>When should I go birding? What birds can I expect? Find out with our forecasting tool.</p>
    </div>
    
    <!-- Share Your Sightings Card -->
    <div class="card">
        <img src="{{ url_for('static', filename='images/share-icon.png') }}" alt="Share Your Sightings Icon">
        <h3>Share Your Sightings</h3>
        <p>Contribute to the accuracy of the forecasting tool by sharing your sightings!</p>
    </div>
    
    <!-- Track Your Lists Card -->
    <div class="card">
        <img src="{{ url_for('static', filename='images/region-icon.png') }}" alt="Region Specific Information Icon">
        <h3>Region Specific Information</h3>
        <p>Glean information about birdwatching hotspots, birding tips, & bird species specific to King County.</p>
    </div>
    
</div>
<div class="contribute">
        
  <!-- Text Section on the Left -->
  <div class="text-section">
      <h2>Contribute to Community Science</h2>
      <p>Your sightings contribute to conservation decisions and peer-reviewed papers, student projects, and help inform bird research in King County.</p>
      <a href="submit.html" class="learn-more-button">Contribute</a>
  </div>
  
  <!-- Image Section on the Right -->
  <div class="image-section">
      <img src="{{ url_for('static', filename='images/birdwatching.jpg') }}" alt="Birdwatching">
  </div>
</div>
<div class="common-birds">
  <div class="birds">
    <div class="bird">
      <img src="{{ url_for('static', filename='images/American Crow.png') }}" alt="American Crow">
      <p>American Crow</p>
    </div>
    <div class="bird">
      <img src="{{ url_for('static', filename='images/Northern Shoveler.png') }}" alt="Northern Shoveler">
      <p>Northern Shoveler</p>
    </div>
    <div class="bird">
      <img src="{{ url_for('static', filename='images/Pine Siskin.png') }}" alt="Pine Siskin">
      <p>Pine Siskin</p>
    </div>
    <div class="bird">
      <img src="{{ url_for('static', filename='images/Chestnut-backed Chickadee.png') }}" alt="Chestnut-backed Chickadee">
      <p>Chestnut-backed Chickadee</p>
    </div>
    <div class="bird">
      <img src="{{ url_for('static', filename='images/American Coot.png') }}" alt="American Coot">
      <p>American Coot</p>
    </div>
    <div class="bird">
      <img src="{{ url_for('static', filename='images/California Gull.png') }}" alt="California Gull">
      <p>California Gull</p>
    </div>
    <div class="bird">
      <img src="{{ url_for('static', filename='images/Western Grebe.png') }}" alt="Western Grebe">
      <p>Western Grebe</p>
    </div>
  </div>
  <div class="text-section-birds">
    <h1>Common Birds This Month</h1>
  </div>
</div>
<div class="maps">
        
  <!-- Text Section on the Left -->
  <div class="text-section-maps">
      <h2>Explore Hotspots Near You</h2>
      <p>Find nature trails you never knew existed & bird species you never imagined to find with our interactive map!</p>
      <a href="hotspots.html" class="learn-more-button">Explore</a>
  </div>
  
  <!-- Image Section on the Right -->
  <div class="image-section-maps">
      <img src="{{ url_for('static', filename='images/maps.png') }}" alt="Map">
  </div>
</div>
  <div class="text-section-birding">
    <h1>Start Birding</h1>
  </div>
  <div class = "cards-blog-container">
  <div class="card-blog">
    <img src="{{ url_for('static', filename='images/Field Guide.jpg') }}" alt="Field Guide">
    <h3>Best Field Guides</h3>
    <p>This is a short description for card 1. It gives a brief idea of the content.</p>
    <a href="#">Read More</a>
</div>

<!-- Card 2 -->
<div class="card-blog">
    <img src="{{ url_for('static', filename='images/equipment.jpg') }}" alt="Binoculars & a Field Guide">
    <h3>Equipment for the Beginning Birder</h3>
    <p>This is a short description for card 2. It gives a brief idea of the content.</p>
    <a href="#">Read More</a>
</div>

<!-- Card 3 -->
<div class="card-blog">
    <img src="{{ url_for('static', filename='images/chickadee ID.png') }}" alt="Black-capped Chickadee">
    <h3>How to Identify Birds</h3>
    <p>This is a short description for card 3. It gives a brief idea of the content.</p>
    <a href="#">Read More</a>
</div>
</div>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
<footer>
  <p>&copy; 2024 Grace Zhang</p>
</footer>